<style>
.owl-carousel .owl-stage-outer {
    padding: 0 0 20px 0;
}

.home-landing-container { width: 100%; }

.home-links, .home-facebook {
    margin-left: auto;
    margin-right: auto;
 }

.home-links {
    max-width: 850px;
    width: 100%;
}

.home-facebook {
    width: 340px;
}

.home-links a {
    display: block;
    margin-bottom: 16px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .home-landing-container { display: inline-block; }

    .home-links {
        float: left;
        width: calc(100% - 360px);
    }

    .home-facebook { float: right; }
}
</style>

<div class="carousel-container">{{widget type="WeltPixel\OwlCarouselSlider\Block\Slider\Custom" slider_id="1"}}</div>

<div class="home-landing-container">
    <div class="home-links">
        <a href="/apparel">
            <img src="media/images/home/abx-apparel.png" alt="Anabolix Apparel" />
        </a>
        <a href="/family">
            <img src="media/images/home/abx-family.png" alt="Anabolix Family" />
        </a>
        <a href="/sponsored-skaters">
            <img src="media/images/home/abx-skaters.png" alt="Anabolix Skaters" />
        </a>
    </div>
    <div class="home-facebook">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAnabolixSkate%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=628585793913138" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
